@model List<LILI_FPMS.Models.TblRequisition>
<!-- Modal -->
<div class="modal fade" id="add-Requisition" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header"  style="background-color:#0c8599; color:white;">
                <h5 class="modal-title" id="addContactLabel">Select Requisition</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Experties">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="inputEmail3">SearchKey</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="searchKey" name="searchKey" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10" style="padding-top:2px;">
                            <button id="btnSearchRequisitionByKey" type="button" class="btn btn-mini btn-primary">Search</button>
                        </div>
                    </div>

                    <div class="card-body">
                        <table id="htRequisitionDetail" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:10%">Id</th>
                                    <th style="width:20%">Requisition No.</th>
                                    <th style="width:20%">Auto Process No.</th>
                                    <th style="width:20%">Requisition Date</th>
                                    <th style="width:20%">Product Code</th>
                                    <th style="width:30%">Product Name</th>
                                </tr>
                            </thead>
                            <tbody id="tbProductDtl" class="js_tbl_body">
                                @{
                                    int i = 0; @*To make unique Id*@
                                    foreach (var item in Model)
                                    {
                                                        @*@Html.HiddenIndexerInputForModel()*@
                                        var index = i;
                                        <tr>
                                            LinkedProcessNo
                                                    <td style="display:none"><input name='tblProductionProcessDetail.Index' type="hidden" value=@index /></td>
                                                    <td>@Html.RadioButtonFor(modelItem => item.RequisitionNo, item.RequisitionNo)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.RequisitionNo, new { @id = "RequisitionNo_" + i })</td>
                                                    <td>@Html.DisplayFor(modelItem => item.LinkedProcessNo, new { @id = "LinkedProcessNo_" + i })</td>
                                                    <td>@Html.DisplayFor(modelItem => item.RequisitionDate, new { @id = "RequisitionDate_" + i })</td>
                                                    <td>@Html.DisplayFor(modelItem => item.ProductCode, new { @id = "ProductCode_" + i })</td>
                                                    <td>@Html.DisplayFor(modelItem => item.ProductName, new { @id = "ProductName_" + i })</td>
                                                </tr>
                                        i++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="background-color:#0c8599; ">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="SetRequisition" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {         
        
        $('#SetRequisition').on('click', function () {
            var requisitionNo = $("input:checked").val();

            $('#ExtOfRequisitionNo').val(requisitionNo);

            //if (requisitionNo != '') {

            //    $.ajax({
            //        type: "POST",
            //        url: "/Requisition/SetRequisition",
            //        data: { requisitionNo: requisitionNo },
            //        success: function (msg) {
            //            $('#ExtOfRequisitionNo').val('');
                                   
            //            for (var i = 0; i < msg.length; i++) {
            //                $('#ExtOfRequisitionNo').val(msg[i].RequisitionNo);
            //            }
            //        },
            //        error: function () {
            //            $('#ExtOfRequisitionNo').val('');
            //        }
            //    });
            //}
        });


    })


    $('#btnSearchRequisitionByKey').on('click', function () {
        var searchKey = $('#searchKey').val();
        if (searchKey != '') {
            $.ajax({
                type: "POST",
                url: "/Requisition/SearchRequisitionByKey",
                data: { searchKey: searchKey },
                success: function (msg) {
                    $(".js_tbl_body").empty();
                    var tr = '';
                    for (var i = 0; i < msg.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + '<input name="RequisitionNo" type="radio" value="' + msg[i].RequisitionNo + '"></label>' + "</td>");
                        tr.append("<td>" + msg[i].RequisitionNo + "</td>");
                        tr.append("<td>" + msg[i].RequisitionDate + "</td>");
                        tr.append("<td>" + msg[i].ProductCode + "</td>");
                        tr.append("<td>" + msg[i].ProductName + "</td>");
                        $('.js_tbl_body').append(tr);
                    }
                },
                error: function () {
                    //$('#RequisitionNo').val('');
                }
            });
        }
    });
</script>