@model LILI_FPMS.Models.TblQcparameter


@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@


<!-- Modal placeholder -->
<div id="modal-placeholder"></div>

<section class="content-header">
    @*<h1>
            Shift
        </h1>*@
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">QC Parameter Setup</li>
        <li class="active">Update parameter</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info" style="border:1px solid; border-color:cadetblue; padding:10px">
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" asp-controller="QCParameter" method="post" asp-action="UpdateQCParameter">
            <div class="card-body">
                @*<div class="form-group">
                    <label asp-for="TypeCode" class="col-sm-2 control-label">Type</label>
                    <div class="col-sm-4">
                        <select asp-for="TypeCode" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfType,"TypeCode","TypeName"))"></select>
                    </div>
                </div>*@

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Product Code</label>
                    <div class="col-sm-2">
                        <input type="text" asp-for="ProductCode" class="form-control" placeholder="Product Code" readonly="readonly" value="@Model.ProductCode">
                        <span asp-validation-for="ProductCode"></span>
                    </div>
                    <div class="col-sm-2 controls">
                        <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#add-product" data-url="@Url.Action("addProduct")">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>

                    <label for="inputEmail3" class="col-sm-2 control-label">Product Name</label>
                    <div class="col-sm-4">
                        <input type="text" asp-for="ProductName" class="form-control" placeholder="Product Name" readonly="readonly" value="@Model.ProductName">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Parameter Code</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" asp-for="QcparameterCode" placeholder="Name" value="@Model.QcparameterCode">
                        <span asp-validation-for="QcparameterCode"></span>

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Parameter Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" asp-for="QcparameterName" placeholder="EmpId" value="@Model.QcparameterName">
                        <span asp-validation-for="QcparameterName"></span>
                    </div>
                </div>



                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Parameter Standard Value</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" asp-for="QcparameterStandardValue" placeholder="Standard Shift Hour" value="@Model.QcparameterStandardValue">
                        <span asp-validation-for="QcparameterStandardValue"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Comments</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" asp-for="Comments" placeholder="Comments" value="@Model.Comments">
                        <span asp-validation-for="Comments"></span>
                    </div>
                </div>

                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
            <!-- /.card-body -->
            <div class="box-footer">
                <a class="btn btn-mini btn-primary" href='@Url.Content("/QCParameter/Index")'>Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Update</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
