@model IEnumerable<DailyConsumptionViewModel>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2>Daily Consumption Report</h2>
            </div>
            <div class="ibox-content" style="min-height: 6em;padding: .5em 0 0 0;">
                <form action="/Report/DailyConsumptionReport" method="get">
                    <div class="row">

                         <div class="col-sm-2">
                            <label>Category</label>
                            @Html.DropDownList("materialCategory", new SelectList(ViewBag.materialCategoryList, "Value", "Text"), new { @class = "form-control" })
                        </div>

                        <div class="col-sm-2">
                            <label>From Date</label>
                            <div class="col-sm-12 date input-group ">
                                <input type='date' class="form-control" name="dateFrom" id="dateFrom" onchange="ReportParameterCheck()" value="@ViewBag.DateFrom" />

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>To Date</label>
                            <div class="col-sm-12 date input-group ">
                                <input type='date' class="form-control" name="dateTo" id="dateTo" onchange="ReportParameterCheck()" value="@ViewBag.DateTo" />

                            </div>
                        </div>
                      
                            <div class="col-sm-2">
                                <label>Unit/Sub-Business</label>
                                @Html.DropDownList("subBusiness", new SelectList(ViewBag.SubBusinessList, "SubBusinessCode", "SubBusinessName"), new { @class = "form-control" })
                            </div>


                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary" style="margin-top: 1.5em;">Show Report</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@if (Model != null)
{  <div class="row" style="margin-bottom:5em;">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="width: 100%;display: block;overflow-y: auto;height:75vh">
                <table id="myTable" class="table" style="border-left:1px solid black;">
                    <thead style="border:none;">

                        <tr style="margin:0;padding:0;border:none;">
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().ProcessDate)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().ManufacturingShift)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().PackingDeatialShift)</th>
                            <th style="border-left:1px solid white; display:none;">@Html.LabelFor(m => m.First().CodingDetailShift)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().RequisitionNo)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().ProcessOrderNo)</th>
                             <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().BatchNo)</th>
                            <th style=" border-left:1px solid white;">@Html.LabelFor(m => m.First().FGName)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().MaterialCode)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().MaterialName)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().BaseUnit)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().ProductionQty)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().StdConsumptionQty)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().OpeningStock)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().IssueQty)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().ReturnQty)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().TotalConsumption)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().ClosingStock)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().LossAccess)</th>
                            <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().Yield)</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DailyConsumptionViewModel vm in Model)
                        {
                            <tr>
                                    <td style="border-left:1px solid #42f5d1;">@vm.ProcessDate.ToString("MM-dd-yyyy")</td>
                                    <td style="border-left:1px solid #42f5d1;">@vm.ManufacturingShift</td>
                                    <td style="border-left:1px solid #42f5d1;">@vm.PackingDeatialShift</td>
                                    <td style="border-left:1px solid #42f5d1;display:none;">@vm.CodingDetailShift</td>
                                    <td style="border-left:1px solid #42f5d1;">@vm.RequisitionNo</td>
                                    <td style="border-left:1px solid #42f5d1;">@vm.ProcessOrderNo</td>
                                    <td style="border-left:1px solid #42f5d1;">@vm.BatchNo</td>
                                    <td style="border-left:1px solid #42f5d1;">@vm.FGName</td>
                                    <td style="border-left:1px solid #42f5d1;">@vm.MaterialCode</td>
                                    <td style="border-left:1px solid #42f5d1;">@vm.MaterialName</td>
                                    <td style="border-left:1px solid #42f5d1;">@vm.BaseUnit</td>
                                    <td style="text-align: right; border-left:1px solid #42f5d1;">@vm.ProductionQty.ToString("N")</td>
                                    <td style="text-align: right; border-left:1px solid #42f5d1;">@vm.StdConsumptionQty.ToString("N")</td>
                                    <td style="text-align: right; border-left:1px solid #42f5d1;">@vm.OpeningStock.ToString("N")</td>
                                    <td style="text-align: right; border-left:1px solid #42f5d1;">@vm.IssueQty.ToString("N")</td>
                                    <td style="text-align: right; border-left:1px solid #42f5d1;">@vm.ReturnQty.ToString("N")</td>
                                    <td style="text-align: right; border-left:1px solid #42f5d1;">@vm.TotalConsumption.ToString("N")</td>
                                    <td style="text-align: right; border-left:1px solid #42f5d1;">@vm.ClosingStock.ToString("N")</td>
                                    <td style="text-align: right; border-left:1px solid #42f5d1;">@vm.LossAccess.ToString("N")</td>
                                    <td style="text-align: right; border-left:1px solid #42f5d1;">@vm.Yield</td>
                                

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div> 
</div>
}
@section css
{
    <link rel="stylesheet" href="~/lib/datatable/datatable.min.css" />
  


}

@section Scripts
{

    <script src="~/lib/datatable/datatables.min.js"></script>
    <script src="~/lib/datatable/pdfmake.min.js"></script>
    <script src="~/lib/datatable/vfs_fonts.js"></script>
    

    <script>


        $(document).ready(function () {

            $('#myTable').DataTable({
                fixedHeader: true,
                "scrollY": true,
                scrollY: 450,
                paging: false,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5'
                    },

                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        title: function () {
                            return "Monthly Consumption"
                        },
                        pageSize: 'LEGAL',
                        text: '<i class="fa fa-file-pdf-o"> PDF</i>',
                        titleAttr: 'PDF'
                    }
                ],

                //"pageLength": 50
            });
        });

        function ReportParameterCheck() {
            let dateFrom = $("#dateFrom").val();
            let dateTo = $("#dateTo").val();
            if (dateFrom != '' && dateTo != '') {
                var FromDate = new Date(dateFrom);
                var ToDate = new Date(dateTo);

                if (FromDate.getMonth() != ToDate.getMonth()) {
                    $("#dateFrom").val('');
                    $("#dateTo").val('');
                    alert("Invalid Date Range!");
                }

            }


        }


    </script>
}