@model IEnumerable<YieldReportViewModel>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2>Yield Report</h2>
            </div>
            <div class="ibox-content" style="min-height: 6em;padding: .5em 0 0 0;">
                <form action="/Report/YieldReport" method="get">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Year</label>
                            <input type="text" class="form-control" name="year" value="@ViewBag.Year" />
                        </div>
                        @*<div class="col-md-2">
                            <label>Month</label>
                            <input type="text" class="form-control" name="month" value="@ViewBag.Month" />
                        </div>*@

                        <div class="col-sm-2">
                            <label>Month</label>
                            @Html.DropDownList("month", new SelectList(ViewBag.ddlMonth, "Text", "Value"), new { @class = "form-control" })
                        </div>


                        @*<div class="form-group">
                        <label class="col-sm-2 control-label">Month</label>
                        <div class="col-sm-4">
                                <select id="MonthCode" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfMonth,"MonthCode","MonthName"))"></select>
                            </div>
                        </div>*@

                        <div class="col-md-2">
                            <label>Code</label>
                            <input type="text" class="form-control" name="code" value="@ViewBag.Code" />
                        </div>

                        @*<div class="col-md-2">
                            <label>Batch</label>
                            <input type="text" class="form-control" name="batch" value="@ViewBag.Batch" />
                        </div>*@
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary" style="margin-top: 1.5em;">Show Report</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@if (Model != null)
{
    <div class="row" style="margin-bottom:5em;">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="width: 100%;display: block;overflow-y: auto;height:75vh">
                    <table id="myTable" class="table">
                        <thead style="border:none;">
                            @*<tr style="margin:0;padding:0;border:none;">*@
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().RequisitionNo)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().ProcessNo)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().ItemCode)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().SKUProduct)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().PackSize)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().BatchNo)</th>


                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().StdOutputPcs)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().ActOutputPcs)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().Yield)</th>


                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().StdInputBatch)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().StdOutputBatch)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().Yield1)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().ActualInput)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().ActualOutput)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().Yield2)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().GainLoss)</th>
                        <th style="border-left:1px solid white;">@Html.LabelFor(m => m.First().Wastage)</th>
                            @*</tr>*@
                        </thead>
                        <tbody>
                            @foreach (YieldReportViewModel vm in Model)
                            {
                                <tr>
                                    <td style="text-align:right;">@vm.RequisitionNo</td>
                                    <td style="text-align:right;">@vm.ProcessNo</td>
                                    <td style="text-align:right;">@vm.ItemCode</td>
                                    <td style="text-align:left;">@vm.SKUProduct</td>
                                    <td style="text-align:right;">@vm.PackSize.ToString("N")</td>
                                    <td style="text-align:right;">@vm.BatchNo.ToString("N")</td>

                                    <td style="text-align:right;">@vm.StdOutputPcs.ToString("N")</td>
                                    <td style="text-align:right;">@vm.ActOutputPcs.ToString("N")</td>
                                    <td style="text-align:right;">@vm.Yield.ToString("N")</td>

                                    <td style="text-align:right;">@vm.StdInputBatch.ToString("N")</td>
                                    <td style="text-align:right;">@vm.StdOutputBatch.ToString("N")</td>
                                    <td style="text-align:right;">@vm.Yield1.ToString("N")</td>
                                    <td style="text-align:right;">@vm.ActualInput.ToString("N")</td>
                                    <td style="text-align:right;">@vm.ActualOutput.ToString("N")</td>
                                    <td style="text-align:right;">@vm.Yield2.ToString("N")</td>
                                    <td style="text-align:right;">@vm.GainLoss.ToString("N")</td>
                                    <td style="text-align:right;">@vm.Wastage.ToString("N")</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
}

@section css
{
    <link rel="stylesheet" href="~/lib/datatable/datatable.min.css" />

    <style>
        table thead tr th {
            /*background-color: #8b8c9d;*/
        }
    </style>
}

@section Scripts
{
    <script src="~/lib/datatable/datatables.min.js"></script>
    <script src="~/lib/datatable/pdfmake.min.js"></script>
    <script src="~/lib/datatable/vfs_fonts.js"></script>
    <script>


        $(document).ready(function () {
            $('#myTable').DataTable({
                fixedHeader: true,
                "scrollY": true,
                scrollY: 450,
                paging: false,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend:'excelHtml5'
                    },

                   { 
                       extend:'pdfHtml5',
                       orientation: 'landscape',
                        title: function () {
                            return "Yield Report"
                        },
                       pageSize: 'LEGAL',
                       text: '<i class="fa fa-file-pdf-o"> PDF</i>',
                       titleAttr: 'PDF'
                   }

                ],

                //"pageLength": 50
            });
        });
    </script>
    <script>
        $(function () {
                $('#RequisitionDate').datetimepicker();
                $('#ProcessDate').datetimepicker();
                $('#ManufacBatchStartTime').datetimepicker();
                $('#ManufacBatchEndTime').datetimepicker();
                $('#PackBatchStartTime').datetimepicker();
                $('#PackBatchEndTime').datetimepicker();
                $('#Fgtndate').datetimepicker();
                
            });

        //$(document).ready(function () {
        //    $('#myTable').DataTable({
        //        fixedHeader: true,
        //        "scrollY": true,
        //        scrollY: 450,
        //        paging: false,
        //        dom: 'Bfrtip',
        //        buttons: [
        //            'excelHtml5'
        //        ],
                
        //        //"pageLength": 50
        //    });
        //});
    </script>
}
