@inject LILI_FPMS.Services.MenuMasterService menus
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LILI_FPMS</title>

    <environment include="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="~/lib/JQuery-unobtrusive-Ajax/jquery-ajax-unobtrusive-master/src/jquery.unobtrusive-ajax.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

    </environment>
    <environment include="Staging, Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="~/lib/JQuery-unobtrusive-Ajax/jquery-ajax-unobtrusive-master/src/jquery.unobtrusive-ajax.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
       @*  <link rel="stylesheet" href="~/css/site.css" /> *@

    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="https://github.com/thomaspark/bootswatch/blob/v5/dist/pulse/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


@*     <style>
        body {
            padding-top: 65px;
        }

        nav {
            background-color: #64667c;
        }

        nav a {
            color: white;
        }

        ul, li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            color: #00000;
        }

        .nav {
            color: #FFFFFF;
        }

        .navbar-nav {
            color: #FFFFFF;
        }

        .menu {
            background: transparent;
            height: 60px;
            padding: 0 0px;
            color: #FFFFFF;
        }

            .menu > li {
                display: inline-block;
                padding: 0px 0px 0px 0px;
                display: inline-block;
                text-align: center;
                line-height: 28px;
                height: 32px;
                color: #FFFFFF;
            }

                .menu > li a {
                    display: inline-block;
                    padding: 0px 0px 0px 0px;
                    display: inline-block;
                    text-align: center;
                    line-height: 28px;
                    height: 32px;
                    width: 130px;
                    color: #FFFFFF;
                }

                    .menu > li a:hover {
                        display: inline-block;
                        padding: 0px 0px 1px 0px;
                        display: inline-block;
                        text-align: center;
                        line-height: 28px;
                        height: 32px;
                        width: 130px;
                        color: #FFFFFF;
                    }

        .sub-menu {
            position: absolute;
            display: none;
            background-color: #466D7B;
            width: 130px;
            color: white;
            padding: 2px;
        }

            .sub-menu > li {
                display: inline-block;
                padding: 0px 0px 0px 0px;
                display: inline-block;
                text-align: left;
                line-height: 28px;
                height: 32px;
                width: 200px;
                background-color: #466D7B;
                color: black;
            }

                .sub-menu > li > a {
                    display: block;
                    cursor: pointer;
                    width: 200px;
                    background-color: #3D5D6C;
                    color: white;
                }

                .sub-menu > li a:hover {
                    display: block;
                    cursor: pointer;
                    width: 200px;
                    background-color: #9F9F9F;
                    color: white;
                }

        .sub-menu2 {
            position: absolute;
            display: none;
            background-color: pink;
        }

            .sub-menu2 > li {
                display: block;
                cursor: pointer;
                background-color: green;
            }

                .sub-menu2 > li a:hover {
                    display: block;
                    Login cursor: pointer;
                    background-color: pink;
                }

        .sub-menu2 {
            margin-top: -2px;
        }

        li:hover .sub-menu {
            display: block;
            color: #FFFFFF
        }

        li:hover .sub-menu2 {
            display: block;
            color: #FFFFFF
        }
    </style> *@

    @RenderSection("css", required: false)

</head>
<body onclick="EnterKeyFilter();">

    @*<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#800080; color:white;">*@
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Production Management System</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-area="" asp-controller="Admin" asp-action="Index">Admin Page</a>
                            }
                        }
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        var UserRoles = "";
                        if (@User.IsInRole("Admin"))
                        {
                            UserRoles = "Admin";
                        }
                        else if (@User.IsInRole("Manager"))
                        {
                            UserRoles = "Manager";
                        }
                        else if (@User.IsInRole("Audit"))
                        {
                            UserRoles = "Audit";
                        }
                        else
                        {
                            UserRoles = "Operator";
                        }

                        @if (menus.GetMenuMaster(@UserRoles).Any())
                        {
                            @if (menus.GetMenuMaster(@UserRoles).Any())
                            {
                                @foreach (var menuNames in menus.GetMenuMaster(@UserRoles).Where
                                   (n => n.ParentMenuId == "*"))
                                {
                                    <li style="width:500px;">
                                        <a asp-area="" asp-controller=@menuNames.MenuUrl
                                           asp-action=@menuNames.MenuFileName>@menuNames.MenuName</a>
                                        <ul style="width:400px;" class="sub-menu">
                                            @foreach (var subMenu in menus.GetMenuMaster(@UserRoles).Where
                                            (n => n.ParentMenuId == @menuNames.MenuId))
                                            {
                                                <li style="width:400px;">
                                                    <a style="width:400px;" asp-area="" asp-controller=@subMenu.MenuUrl
                                                       asp-action=@subMenu.MenuFileName>@subMenu.MenuName</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        }
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>


    <div class="container-fluid body-content">
        @RenderBody()
        @*<hr />*@
        @*<footer>
                <p>&copy; 2019 - LILI_FPMS</p>
            </footer>*@
    </div>

    <environment include="Development">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/lib/select2/select2.min.js"></script>
        <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @*<script src="~/lib/JQuery-unobtrusive-Ajax/jquery-ajax-unobtrusive-master/src/jquery.unobtrusive-ajax.js"></script>*@

        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script>
            $(function () {
                $('#RequisitionDate').datetimepicker();
                $('#ProcessDate').datetimepicker(
                {
                    minDate: moment().startOf('month'),
                    maxDate: moment().endOf('month'),
                  
                }
                );
                $('#ManufacBatchStartTime').datetimepicker();
                $('#ManufacBatchEndTime').datetimepicker();
                $('#PackBatchStartTime').datetimepicker();
                $('#PackBatchEndTime').datetimepicker();
                $('#CodeBatchStartTime').datetimepicker();
                $('#CodeBatchEndTime').datetimepicker();
                $('#Fgtndate').datetimepicker();
            });
            function EnterKeyFilter() {
                if (window.event.keyCode == 13) {
                    event.returnValue = false;
                    event.cancel = true;
                }
            }
        </script>

        @*<script src="~/jqwidgets/jqxtabs.js"></script>*@
    </environment>

    <environment include="Staging, Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/select2/select2.min.js"></script>

        <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
        @*<script src="~/lib/JQuery-unobtrusive-Ajax/jquery-ajax-unobtrusive-master/src/jquery.unobtrusive-ajax.js"></script>*@

        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script>
            $(function () {
                $('#RequisitionDate').datetimepicker();
                $('#ProcessDate').datetimepicker();
                $('#ManufacBatchStartTime').datetimepicker();
                $('#ManufacBatchEndTime').datetimepicker();
                $('#PackBatchStartTime').datetimepicker();
                $('#PackBatchEndTime').datetimepicker();
                $('#Fgtndate').datetimepicker();
                
            });
            function EnterKeyFilter() {
                if (window.event.keyCode == 13) {
                    event.returnValue = false;
                    event.cancel = true;
                }
            }
        </script>

    </environment>

    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>*@
        @*<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>*@
        @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
