@model LILI_FPMS.Models.TblRebSfgtransfer
@section css {
    <style>
        .select2-container--default .select2-selection--multiple {
            padding-right: 30px !important;
        }

            .select2-container--default .select2-selection--multiple::after {
                content: "";
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                border-top: 5px solid #333;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }
    </style>
}

<!-- Modal placeholder -->
<div id="modal-placeholder"></div>



<!-- Content Header (Page header) -->
<section class="content-header">
    @*<h1>
    Requisition
    </h1>*@
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Refurbished Requisition</li>
        <li class="active">Add Refurbished Requisition</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info" style="border:1px solid; border-color:cadetblue; padding:10px">
        @*<div class="box-header with-border">
        <h3 class="box-title">Add Requisition</h3>
        </div>*@
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" asp-controller="RebSfgTransfer" method="post" asp-action="CreateSfgTransfer">

            <div class="card-body">
                <input type="hidden" asp-for="TransferNo" class="form-control" placeholder="Ext. Of Requisition" readonly="readonly">
                <input type="hidden" asp-for="ExtOfRequisitionNo" class="form-control" placeholder="Ext. Of Requisition" readonly="readonly">
                <span asp-validation-for="ExtOfRequisitionNo"></span>

                @*    <input type="hidden" asp-for="RemainingNumberOfBatch" class="form-control"  readonly="readonly"> *@

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Process Order No</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control readonly" asp-for="LinkedProcessNo" readonly></input>
                        @*                         <select class="select2 form-control" asp-for="LinkedProcessNo">
                        @foreach (var item in ViewBag.ListofOrder)
                        {
                        if (!string.IsNullOrEmpty(@item.ProductName))
                        {
                        <option value="@item.ProcessOrderNo">@item.ProcessOrderNo ( @item.ProductName )</option>
                        }
                        else
                        {

                        <option value="@item.ProcessOrderNo">@item.ProcessOrderNo</option>
                        }

                        }
                        </select> *@
                        <span asp-validation-for="ProductCode"></span>
                    </div>
                    <label for="inputEmail3" class="col-sm-2 control-label">Requisition No.</label>
                    <div class="col-sm-4">
                        <input type="text" asp-for="RequisitionNo" class="form-control" placeholder="Requisition No." readonly="readonly">
                        <span asp-validation-for="RequisitionNo"></span>
                    </div>



                </div>
                <div class="form-group">

                    <label for="inputEmail3" class="col-sm-2 control-label">Product Code</label>
                    <div class="col-sm-4">
                        <input type="text" asp-for="ProductCode" class="form-control" placeholder="Product Code" readonly="readonly">
                        <span asp-validation-for="ProductCode"></span>
                    </div>



                    <label asp-for="TransferDate" class="col-sm-2 control-label">Transfer Date</label>
                    <div class='col-sm-4 input-group date' id='TransferDate' style="padding-left:15px;">
                        <input asp-for="TransferDate" type='text' class="form-control" />
                        <span asp-validation-for="TransferDate" class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Product Name</label>
                    <div class="col-sm-4">
                        <input type="text" asp-for="ProductName" class="form-control" placeholder="Product Name" readonly="readonly">
                        <span asp-validation-for="ProductName"></span>
                    </div>

                    <label for="inputEmail3" class="col-sm-2 control-label">Requisition Type</label>
                    <div class="col-sm-4">
                        <input type="text" asp-for="TypeCode" class="form-control readonly" placeholder="Type Code" readonly>
                        @*         <Select class="select2 form-control" asp-for="TypeCode">
                        <option value="*"> Select Type </></option>
                        <option value="SFG"> SFG</option>
                        <option value="RMPM"> RM/PM</option>
                        </Select> *@
                        <span asp-validation-for="TypeCode"></span>
                    </div>
                </div>
                <div class="form-group">
                </div>

                <div class="form-group">
                    <label asp-for="Comments" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input type="text" asp-for="Comments" class="form-control readonly" placeholder="Comments" readonly>
                    </div>
                </div>



                <div class="card" style="display:none">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Material Code</label>
                            <div class="col-sm-2">
                                <input type="text" Id="MaterialCodeSearch" class="form-control" placeholder="Material Code" readonly>
                            </div>
                            <div class="col-sm-2 controls">
                                <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#add-material-search" data-url="@Url.Action("AddMaterialSearch")">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>

                            <label for="inputEmail3" class="col-sm-2 control-label">Material Name</label>
                            <div class="col-sm-4">
                                <input type="text" Id="MaterialNameSearch" class="form-control" placeholder="Material Name" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Unit</label>
                            <div class="col-sm-4">
                                <input type="text" Id="MaterialUnit" class="form-control" placeholder="Unit">
                            </div>

                            <label for="inputEmail3" class="col-sm-2 control-label">Receive Qty</label>
                            <div class="col-sm-4">
                                <input type="text" Id="RequiredQty" class="form-control" placeholder="Required Qty" onkeypress='return isNumberKey(event)' value="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <a class="btn btn-primary" onclick="addNewRowToMaterialGrid()">Add Material to grid</a>
                            </div>
                        </div>
                    </div>


                </div>


                <div style="border:1px solid #e5dbff; padding:10px;">


                    <div class="card-body">
                        <div style="border:0px solid #ccc; min-width:30%;  overflow:auto;">
                            <table id="htReqMaterialDetail" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:10%; !important">RM/PM Code</th>
                                        <th style="width:30%;">RM/PM Name</th>
                                        <th style="width:10%;">Unit</th>
                                        <th style="width:10%; display:none">Standard Recipe Quantity</th>
                                        <th style="width:10%; display:none">Floor Stock</th>
                                        <th style="width:10%; display:none">Estimated Quantity</th>
                                        <th style="width:10%; display:none">Warehouse Stock</th>
                                        <th style="width:10%;">Requisition  Quantity</th>
                                        <th style="width:10%;">Issue  Quantity</th>
                                    </tr>
                                </thead>
                                <tbody id="tblReqBOMDtl" class="js_tblBOMDtl_body">
                                    @{
                                        var i = 0;
                                        foreach (var item in Model.TblRebSfgtransferDetail)
                                        {
                                        //To make unique Id
                                            <tr>

                                                <td>@Html.EditorFor(modelItem => modelItem.TblRebSfgtransferDetail[i].MaterialCode, new { htmlAttributes = new { @class = "form-control readonly", @readonly = "readonly", @name = "TblRebSfgtransferDetail[" + @i + "].MaterialCode" } })</td>
                                                <td>@Html.DisplayFor(modelItem => modelItem.TblRebSfgtransferDetail[i].MaterialName)</td>
                                                <td>@Html.DisplayFor(modelItem => modelItem.TblRebSfgtransferDetail[i].Unit)</td>
                                                <td style="text-align:right; width:70px; display:none">@Html.EditorFor(modelItem => modelItem.TblRebSfgtransferDetail[i].StandardRecipeQty, new { htmlAttributes = new { @class = "form-control readonly", @readonly = "readonly", } })</td>
                                                <td style="text-align:right; width:70px; display:none">@Html.EditorFor(modelItem => modelItem.TblRebSfgtransferDetail[i].FloorStock, new { htmlAttributes = new { @class = "form-control readonly", @readonly = "readonly" } })</td>
                                                <td style="text-align:right; width:70px; display:none">@Html.EditorFor(modelItem => modelItem.TblRebSfgtransferDetail[i].EstimatedQty, new { htmlAttributes = new { @class = "form-control readonly", @readonly = "readonly" } })</td>
                                                <td style="text-align:right; width:70px; display:none">@Html.EditorFor(modelItem => modelItem.TblRebSfgtransferDetail[i].AvailableStock, new { htmlAttributes = new { @class = "form-control readonly", @readonly = "readonly" } })</td>
                                                <td style="text-align:right; width:70px;">@Html.EditorFor(modelItem => modelItem.TblRebSfgtransferDetail[i].RequiredQty, new { htmlAttributes = new { @class = "form-control readonly", @readonly = "readonly" } })</td>
                                                <td style="text-align:right; width:70px;">@Html.EditorFor(modelItem => modelItem.TblRebSfgtransferDetail[i].IssueQty, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })</td>
                                                @*<td><a href="" onclick="Delete('@item.Id')">Delete</a></td>*@
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!-- /.card-body -->
            <div class="box-footer">

                <a class="btn btn-mini btn-primary" href='@Url.Content("/RebSfgTransfer/Index")'>Cancel</a>
               @*  <button type="submit" class="btn btn-info pull-right">Create</button> *@

            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>




<script type="text/javascript">
    $(document).ready(function () {
        //calStdRecipe
        //calFloorStock
        //calTotalReq
        $("#TypeCode").select2();
        $("#LinkedProcessNo").select2();
        $('#LinkedProcessNo').on('select2:select', function (e) {
            var processOrderNo = $('#LinkedProcessNo').val();
            if (processOrderNo != 'SELECT') {


                $.ajax({
                    type: "POST",
                    url: "/RebSfgTransfer/GetProcessOrderData",
                    data: { vProcessOrderNo: processOrderNo },
                    success: function (msg) {

                        $('#ProductCode').val('');
                        $('#ProductName').val('');



                        for (var i = 0; i < msg.length; i++) {
                            $('#ProductCode').val(msg[i].ProductCode);
                            $('#ProductName').val(msg[i].ProductName);


                        }
                    },
                    error: function () {
                        $('#ProductCode').val('');
                        $('#ProductName').val('');


                    }
                });




            }
        });


    });



    function GetBOMDetails() {
        var productId = $('#ProductCode').val();
        var noOfBatch = $('#NumberOfBatch').val();
        $.ajax({
            type: "POST",
            url: "/RebRequisition/GetBOMDetail",
            data: { productId: productId, noOfBatch: noOfBatch },
            success: function (result) {
                $('#tblReqBOMDtl').empty(); //Clear table body
                var table = $("#htReqMaterialDetail tbody");
                $.each(result, function (idx, elem) {

                    var index = $("#tblReqBOMDtl").children("tr").length;
                    var indexCell = "<td style='display:none'><input name='TblRebRequisitionDetail.Index' type='hidden' value='" + index + "' /></td>";
                    var materialCodeCell = "<td><input style='width:100%' class='form-control nothing' readonly id='TblRebRequisitionDetail_" + index + "_MaterialCode' name='TblRebRequisitionDetail[" + index + "].MaterialCode' type='text' value='" + elem.MaterialCode + "' /></td>";
                    var materialNameCell = "<td><input style='width:100%' class='form-control nothing' readonly id='TblRebRequisitionDetail_" + index + "_MaterialName' name='TblRebRequisitionDetail[" + index + "].MaterialName' type='text' value='" + elem.MaterialName + "' /></td>";
                    var unitCell = "<td><input style='width:100%' class='form-control nothing' readonly id='TblRebRequisitionDetail_" + index + "_Unit' name='TblRebRequisitionDetail[" + index + "].Unit' type='text' value='" + elem.Unit + "' /></td>";
                    var standardRecipeQtyCell = "<td><input class='calStdRecipe form-control nothing' style='text-align:right; width:100%; background-color: #ffe6e6;' readonly id='TblRebRequisitionDetail_" + index + "_StandardRecipeQty' name='TblRebRequisitionDetail[" + index + "].StandardRecipeQty' type='text' value='" + elem.StandardRecipeQty + "' /></td>";
                    var floorStockCell = "<td><input class='calFloorStock form-control nothing' style='text-align:right; width:100%; background-color: #ffe6e6;' readonly id='TblRebRequisitionDetail_" + index + "_FloorStock' name='TblRebRequisitionDetail[" + index + "].FloorStock' type='text' value='" + elem.FloorStock + "' /></td>";
                    var EstimatedQtyValue = elem.StandardRecipeQty - elem.FloorStock;
                    var estimatedQtyCell = "<td><input  style='text-align:right; width:100%; background-color: #ffe6e6;border:none;' readonly id='TblRebRequisitionDetail_" + index + "_EstimatedQty' name='TblRebRequisitionDetail[" + index + "].EstimatedQty' type='text' value='" + EstimatedQtyValue.toFixed(2) + "' /></td>";

                    var availableStockCell = "<td><input class = 'form-control nothing' style='text-align:right; width:80%; background-color: #ffe6e6;' readonly id='TblRebRequisitionDetail_" + index + "_AvailableStock' name='TblRebRequisitionDetail[" + index + "].AvailableStock' type='text' value='" + elem.AvailableStock + "' /></td>";
                    var requiredQtyCell = "<td><input class='calTotalReq' style='text-align:right; width:100%'  id='TblRebRequisitionDetail_" + index + "_RequiredQty' name='TblRebRequisitionDetail[" + index + "].RequiredQty' type='text' value='" + elem.RequiredQty + "' /></td>";

                    var removeCell = "<td><input id='addRowToTable' type='button' value='Remove' onclick='removeRowItem(" + index + ");' /></td>";

                    var newRow = "<tr id='trtbReqBOMDtl" + index + "'>" + indexCell + materialCodeCell + materialNameCell + unitCell + standardRecipeQtyCell + floorStockCell + estimatedQtyCell + availableStockCell + requiredQtyCell + "</tr>";
                    table.append(newRow);

                });

            },
            error: function () {
                //$('#RequisitionNo').val('');
            }
        });
    }

    function GetBOMDetailsByProcessOrderNo(pProcessOrderNo) {

        var productId = $('#ProductCode').val();
        var noOfBatch = $('#NumberOfBatch').val();
        $.ajax({
            type: "POST",
            url: "/Requisition/GetProcessOrderDetail",
            data: { processOrderNo: pProcessOrderNo },
            success: function (result) {
                $('#tblReqBOMDtl').empty(); //Clear table body
                var table = $("#htReqMaterialDetail tbody");
                $.each(result, function (idx, elem) {

                    var index = $("#tblReqBOMDtl").children("tr").length;
                    var indexCell = "<td style='display:none'><input name='TblRebRequisitionDetail.Index' type='hidden' value='" + index + "' /></td>";
                    var materialCodeCell = "<td><input style='width:100%' class='form-control nothing' readonly id='TblRebRequisitionDetail_" + index + "_MaterialCode' name='TblRebRequisitionDetail[" + index + "].MaterialCode' type='text' value='" + elem.MaterialCode + "' /></td>";
                    var materialNameCell = "<td><input style='width:100%' class='form-control nothing' readonly id='TblRebRequisitionDetail_" + index + "_MaterialName' name='TblRebRequisitionDetail[" + index + "].MaterialName' type='text' value='" + elem.MaterialName + "' /></td>";
                    var unitCell = "<td><input style='width:100%' class='form-control nothing' readonly id='TblRebRequisitionDetail_" + index + "_Unit' name='TblRebRequisitionDetail[" + index + "].Unit' type='text' value='" + elem.Unit + "' /></td>";

                    var standardRecipeQtyCell = "<td style='display:none'><input class='calStdRecipe form-control nothing' style='text-align:right; width:100%; background-color: #ffe6e6;' readonly id='TblRebRequisitionDetail_" + index + "_StandardRecipeQty' name='TblRebRequisitionDetail[" + index + "].StandardRecipeQty' type='text' value='" + elem.StandardRecipeQty + "' /></td>";
                    var floorStockCell = "<td><input class='calFloorStock form-control nothing' style='text-align:right; width:100%; background-color: #ffe6e6;' readonly id='TblRebRequisitionDetail_" + index + "_FloorStock' name='TblRebRequisitionDetail[" + index + "].FloorStock' type='text' value='" + elem.FloorStock + "' /></td>";
                    var EstimatedQtyValue = elem.StandardRecipeQty - elem.FloorStock;
                    var estimatedQtyCell = "<td style='display:none'><input class='calEstimatedQty form-control nothing valid'  style='text-align:right; width:100%; background-color: #ffe6e6;border:none;' readonly id='TblRebRequisitionDetail_" + index + "_EstimatedQty' name='TblRebRequisitionDetail[" + index + "].EstimatedQty' type='text' value='" + EstimatedQtyValue.toFixed(2) + "' /></td>";

                    var availableStockCell = "<td><input class = 'form-control nothing' style='text-align:right; width:80%; background-color: #ffe6e6;' readonly id='TblRebRequisitionDetail_" + index + "_AvailableStock' name='TblRebRequisitionDetail[" + index + "].AvailableStock' type='text' value='" + elem.AvailableStock + "' /></td>";
                    var requiredQtyCell = "<td><input  onchange='checkIfAvailable(this)' class='calTotalReq form-control nothing valid' onfocus='this.select()' style='text-align:right; width:100%'  id='TblRebRequisitionDetail_" + index + "_RequiredQty' name='TblRebRequisitionDetail[" + index + "].RequiredQty' type='text' value='" + elem.RequiredQty + "' /></td>";

                    var removeCell = "<td><input id='addRowToTable' type='button' value='Remove' onclick='removeRowItem(" + index + ");' /></td>";

                    var newRow = "<tr id='trtbReqBOMDtl" + index + "'>" + indexCell + materialCodeCell + materialNameCell + unitCell + standardRecipeQtyCell + floorStockCell + estimatedQtyCell + availableStockCell + requiredQtyCell + "</tr>";
                    table.append(newRow);

                });

            },
            error: function () {
                //$('#RequisitionNo').val('');
            }
        });
    }


    function addNewRowToMaterialGrid() {

        var MaterialCode = $("#MaterialCodeSearch").val();
        var MaterialName = $("#MaterialNameSearch").val();
        var Unit = $("#MaterialUnit").val();
        var StandardRecipeQty = 0;
        var FloorStock = 0;
        var AvailableStock = 0;
        var EstimatedQty = 0;
        var RequiredQty = $("#RequiredQty").val();



        var index = $("#tblReqBOMDtl").children("tr").length;

        var indexCell = "<td style='display:none'><input name='TblRebRequisitionDetail.Index' type='hidden' value='" + index + "' /></td>";
        var idCell = "<td style='display:none'> <input id='TblRebRequisitionDetail_" + index + "_Id' name='TblRebRequisitionDetail[" + index + "].Id' type='text' value='" + parseInt(index + 1) + "' /></td>";
        var MaterialCodeCell = "<td><input style='width:100%' class='form-control nothing' readonly id='TblRebRequisitionDetail_" + index + "_MaterialCode' name='TblRebRequisitionDetail[" + index + "].MaterialCode' type='text' value='" + MaterialCode + "' /></td>";
        var MaterialNameCell = "<td><input style='width:100%' class='form-control nothing' readonly id='TblRebRequisitionDetail_" + index + "_MaterialName' name='TblRebRequisitionDetail[" + index + "].MaterialName' type='text' value='" + MaterialName + "' /></td>";
        var MaterialUnitCell = "<td><input style='width:100%' class='form-control nothing' readonly id='TblRebRequisitionDetail_" + index + "_Unit' name='TblRebRequisitionDetail[" + index + "].Unit' type='text' value='" + Unit + "' /></td>";
        var StandardRecipeQtyCell = "<td style='display:none'><input style='text-align:right; width:100%; display:none' id='TblRebRequisitionDetail_" + index + "_StandardRecipeQty' name='TblRebRequisitionDetail[" + index + "].StandardRecipeQty' type='text' value='" + StandardRecipeQty + "' /></td>";
        var FloorStockCell = "<td style='display:none'><input style='text-align:right; width:100%' id='TblRebRequisitionDetail_" + index + "_FloorStock' name='TblRebRequisitionDetail[" + index + "].FloorStock' type='text' value='" + FloorStock + "' /></td>";
        var EstimatedQtyCell = "<td style='display:none' ><input style='text-align:right; width:100%;' id='TblRebRequisitionDetail_" + index + "_EstimatedQty' name='TblRebRequisitionDetail[" + index + "].EstimatedQty' type='text' value='" + EstimatedQty + "' /></td>";
        var AvailableStockCell = "<td style='display:none'><input style='text-align:right; width:100%' id='TblRebRequisitionDetail_" + index + "_AvailableStock' name='TblRebRequisitionDetail[" + index + "].AvailableStock' type='text' value='" + AvailableStock + "' /></td>";
        var RequiredQtyCell = "<td><input style='text-align:right; width:100%' class='form-control' id='TblRebRequisitionDetail_" + index + "_RequiredQty' name='TblRebRequisitionDetail[" + index + "].RequiredQty' type='text' value='" + RequiredQty + "' /></td>";

        var removeCell = "<td><input id='addRow' type='button' class='btn btn-sm btn-danger' value='Remove' onclick='removeRow(" + index + ");' /></td>";

        var newRow = "<tr id='trtbReqBOMDtl" + index + "'>" + indexCell + MaterialCodeCell + MaterialNameCell + MaterialUnitCell + StandardRecipeQtyCell + FloorStockCell + EstimatedQtyCell + AvailableStockCell + RequiredQtyCell + removeCell + "</tr>";
        $("#tblReqBOMDtl").append(newRow);

        $("#MaterialCodeSearch").val('');
        $("#MaterialNameSearch").val('');
        $("#MaterialUnit").val('');
        $("#StandardRecipeQty").val('');
        $("#FloorStock").val('');
        $("#RequiredQty").val('');
    }

    function removeRow(id) {
        var controlToBeRemoved = "#trtbReqBOMDtl" + id;
        //alert(controlToBeRemoved);
        $(controlToBeRemoved).remove();
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode != 46 && (charCode < 48 || charCode > 57)))
            return false;
        return true;
    }







</script>


